<!DOCTYPE html>
<html lang="en">
<app-side-bar-back></app-side-bar-back>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title> Création d'un utilisateur </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/back/img/favicon.png" rel="icon">
  <link href="/assets/back/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/back/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/back/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/back/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/back/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/assets/back/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/assets/back/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/back/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/back/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Mar 09 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<app-header-back></app-header-back>
<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="/assets/back/img/logo.png" alt="">
                  <span class="d-none d-lg-block">ESPRIT CLUBS </span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">CREER UN COMPTE </h5>
                  </div>

                  <form class="row g-3 needs-validation"  (ngSubmit)="signup(signupRequest)" [formGroup]="registerForm" >
                    <div class="col-12">
                      <label for="yourName" class="form-label">Nom</label>
                      <input type="text" name="name" class="form-control" id="yourName" [(ngModel)]="signupRequest.lastName" formControlName="lastName" required>
                      <div class="invalid-feedback">Entrer un nom valide ! </div>
                    </div>
                    <div class="col-12">
                      <label for="yourName" class="form-label">Prénom</label>
                      <input type="text" name="name" class="form-control" id="yourName" [(ngModel)]="signupRequest.firstName" formControlName="firstName" required>
                      <div class="invalid-feedback">Entrer un Prénom valide ! </div>
                    </div>
                    <div class="col-12">
                      <label for="yourName" class="form-label">Date de naissance</label>
                      <input type="date" name="name" class="form-control" id="date" [(ngModel)]="signupRequest.birthDate" formControlName="birthdate" required>
                      <div class="invalid-feedback">Entrer votre date de naissance ! </div>
                    </div>
                    <div class="col-12">
                      <label for="yourEmail" class="form-label"> Email</label>
                      <input type="email" name="email" class="form-control" id="yourEmail" [(ngModel)]="signupRequest.email"  
                      formControlName="email"required>

                      <div class="invalid-feedback">Entrer un email valide !</div>
                    </div>

                    <div class="col-12">
                      <label for="yourUsername" class="form-label">Username</label>
                      <div class="input-group has-validation">
                        <input type="text" name="username" class="form-control" id="yourUsername"  [(ngModel)]="signupRequest.userName" formControlName="username"  required>
                        <div class="invalid-feedback">Entrer un username.</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Mot de passe</label>
                      <input type="password" name="password" class="form-control" id="yourPassword"placeholder="Mot de passe"
                      formControlName="password1" [(ngModel)]="signupRequest.password"  required>
                      <div class="invalid-feedback">entrer un mot de passe ! </div>
                    </div>
                    

                    <div class="form-group">
                      <label>Rôle</label>
                      <select class="js-example-basic-single w-100" id="role" name="role" (change)="getRole($event)">
                        <option value="0"></option>
                        <option *ngFor="let role of roles">{{role}}</option>
                        
                      </select>
                    </div>

                    <div class="mb-3">
                      <label class="form-label" for="basic-default-company">Image</label><br/>
                      <input type="file" name="file" formControlName="file" id="file" class="file-upload-browse btn btn-primary" accept="image/*" (change)="uploadFile($event)" >
                      <div *ngIf="registerForm.get('file')?.touched && registerForm.get('file')?.hasError('required')" class="alert alert-danger">
                        Choisissez une image
                      </div>
                    </div>

                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Creér un compte</button>
                    </div>
                  
                  </form>

                </div>
              </div>

              <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets/back/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/assets/back/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/back/vendor/chart.js/chart.umd.js"></script>
  <script src="/assets/back/vendor/echarts/echarts.min.js"></script>
  <script src="/assets/back/vendor/quill/quill.min.js"></script>
  <script src="/assets/back/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/assets/back/vendor/tinymce/tinymce.min.js"></script>
  <script src="/assets/back/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/back/js/main.js"></script>

</body>
<app-footer-back></app-footer-back>
</html>